# --- Flask ---
FLASK_APP=app
FLASK_ENV=development
FLASK_DEBUG=1
FLASK_PORT=8000
SECRET_KEY=

# --- Postgres ---
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432
# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com

# --- MySQL / WordPress ---
MYSQL_DB_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

WP_USER=
WP_PASSWORD=


OPENAI_API_KEY=
VECTOR_STORE_NAME=vinum